<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>JianYu Maker</title>
</head>
<body>
    <div id="main">
        <div id="name">
            <span id="title">簡語產生器</span>
        </div>
        <form id="input", method="post">
            <br>
            <label for="user_input">輸入任意四字詞語:</label>
            <input type="text" id="user_input" name="user_input" required>
            <br>
            <input type="submit" class="button" name="submit" value="產生簡語!">
        </form>
        <div id="result"></div>
        <div id="bottom_text">
            <span id="credit">By <a href="https://github.com/HS6103">Simon HS.</a> @2024</span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#input').submit(function (event) {
                event.preventDefault();
                var inputString = $('#user_input').val();

                $.ajax({
                    type: 'POST',
                    url: '/get_result',
                    data: ({ input_string: inputString }),
                    success: function (response) {
                        $('#result').text(response);
                    },
                    error: function (req, textStatus, errorThrown) {
                        $('#result').text('Error processing string.'+ textStatus+' ' +errorThrown);
                    }
                });
            });
        });
    </script>      
</body>
</html>
